<!DOCTYPE html>
<html>
<head>
    
    <!-- menübar -->
    <link rel="stylesheet">
</head>
<body>
    <div class="menu-bar">
        <a href="#">Anasayfa</a>
        <a href="#">Demirbaş</a>
        <a href="#">Çıkış Yap</a>
    </div>
</body>
</html>




<html>
<html>
<head>
    <link rel="stylesheet" >
</head>
<body>
    <!-- tablo -->
    <div class="table-container">
        <table class="personnel-table">
            <tr>
                <th>İsim Soyisim</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Pozisyon</th>
            </tr>
        </table>
    </div>
    <div class="p-col-9">
        <button (onClick)="postEkle()" class="p-buttonset" pButton pRipple label="Ekle" icon="pi pi-check"></button>
        <button (onclick)="deletePersonel()"class="p-buttonset" pButton pRipple label="Sil" icon="pi pi-check"></button>
        <button (onclick)="updatePersonel()"class="p-buttonset" pButton pRipple label="Güncelle" icon="pi pi-check"></button>

    </div>
</body>
</html>
