app-header

<div class="body">
    <div class="container">
        <div class="tittle">İstek ve Öneri</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <input type="text" placeholder="İstek veya Öneri Yazınız">
                </div>
            </div>
            <div class="button">
                <input type="submit" value="İstek Gönder">
            </div>
            <div class="button">
                <input type="submit" value="Öneri Gönder">
            </div>
        </form>
    </div>
</div>
