<div class="body">
    <div class="hero">
        <div class="form-box">
            <form *ngIf="loginForm" [formGroup]="loginForm" id="login" class="input-group">
                <input formControlName="email" type="email" class="input-field" placeholder="E-mail" required>
                <input formControlName="password" type="password" class="input-field" placeholder="Şifre" required>
                <button type="submit" (click)="login()" class="submit-btn">Giriş</button>
            </form>form
        </div>
    </div>
</div>

