<div class="body">
    <div class="hero">
        <div class="form-box">
            <form *ngIf="loginForm" [formGroup]="loginForm" id="login" class="input-group">
                <input formControlName="MAdress" type="MAdress" class="input-field" placeholder="E-mail" required>
                <input formControlName="Password" type="Password" class="input-field" placeholder="Şifre" required>
                <button type="submit" (click)="login()" class="submit-btn">Giriş</button>
            </form>
        </div>
    </div>
</div>

