<p-table  styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">

    <ng-template pTemplate="header">
        <tr>
            <th>Demirbaş Adı</th>
            <th>Demirbaş Türü</th>
            <th>Demirbaş Fiyatı</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr *ngFor="let dlist of dlists">
            <td>{{ product.adi }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }}</td>
        </tr>
    </ng-template>

</p-table>