<div class="body">
    <div class="container">
        <div class="tittle">Demirbaş Kayıt</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Demirbaş Adı</span>
                    <input type="text" placeholder="Adı">
                </div>
                <div class="input-box">
                    <span class="details">Demirbaş Türü</span>
                    <input type="text" placeholder="Türü">
                </div>
                <div class="input-box">
                    <span class="details">Demirbaş Fiyatı</span>
                    <input type="text" placeholder="Fiyatı">
                </div>
                <div class="input-box">
                    <span class="details">Demirbaş Seri Numarası</span>
                    <input type="text" placeholder="Seri No">
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Kaydet">
            </div>
        </form>
    </div>
</div>