<div class="body">
    <div class="container">
        <div class="tittle">Demirbaş Kayıt</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">İsim</span>
                    <input type="text" placeholder="Ad">
                </div>
                <div class="input-box">
                    <span class="details">Soyisim</span>
                    <input type="text" placeholder="Soyad">
                </div>
                <div class="input-box">
                    <span class="details">İsim</span>
                    <input type="text" placeholder="Ad">
                </div>
                <div class="input-box">
                    <span class="details">İsim</span>
                    <input type="text" placeholder="Ad">
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Kaydet">
            </div>
        </form>
    </div>
</div>