
<div class="body">
    <div class="hero">
        <div class="form-box">
            <form id="login" class="input-group">
                <div class="tittle">Personel Kayıt</div>
                <input type="text" class="input-field" placeholder="Ad" required>
                <input type="text" class="input-field" placeholder="Soyad" required>
                <input type="email" class="input-field" placeholder="E-mail" required>
                <input type="password" class="input-field" placeholder="Şifre" required>
                <button type="submit" class="submit-btn">Kaydet</button>
            </form>
        </div>
    </div>
</div>
