/* Footer CSS */
.bitis {
    width: 100%;
    height: 550px;
    border: 1px solid black;
    margin-top: 30px;
    background-color: #aeae9b61;
}


.logo2 {
    width: 270px;
    height: 210px;
    /* border: solid 1px black; */
    margin-left: 40px;
    margin-top: 20px;
    text-align: center;
}

.logo2 img {
    width: 250px;
    height: 130px;
    padding-left: 8px;
}

.card1 {
    width: 100px;
    height: 20px;
    margin-left: 500px;
    margin-top: -210px;
}

.card2 {
    width: 100px;
    height: 20px;
    margin-left: 750px;
    margin-top: -20px;
}

.card3 {
    width: 95px;
    height: 5px;
    margin-left: 1000px;
    margin-top: -20px;
}

.card4 {
    width: 100px;
    height: 20px;
    margin-left: 1250px;
    margin-top: -5px;
}

.list1 {
    margin-top: 300px;
    margin-left: 30px;
}

.list1 ul li {
    list-style-type: none;
}

.list1 h4{
    margin-left: 30px;
}


.list2 {
    margin-top: -152px;
    margin-left: 240px;
}

.list2 ul li {
    list-style-type: none;
}

.list2 h4{
    margin-left: 30px;
}


.list3 {
    margin-top: -153px;
    margin-left: 450px;
}

.list3 ul li {
    list-style-type: none;
}

.list3 h4{
    margin-left: 30px;
}


.list4 {
    margin-top: -154px;
    margin-left: 660px;
}

.list4 ul li {
    list-style-type: none;
}

.list4 h4{
    margin-left: 30px;
}

.son {
    margin-left: 950px;
    margin-top: -150px;
}

.email4 {
    width: 300px;
}



/* Cart CSS */


.table{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    margin-top: 60px;
}

table{
    width: 100%;
}