<div class="bitis">
    <div class="logo2">
        <img src="logo2.webp" alt="">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quod consequatur aliquid blanditiis!
        </p>
    </div>

    <div class="card1">
        <img src="kprens.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="card2">
        <img src="foto3.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="card3">
        <img src="foto6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="card4">
        <img src="foto4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
    </div>




    <div class="list1">
        <h4>SERVICE</h4>
        <ul>
            <li>Online Help</li>
            <li>Contact Us</li>
            <li>Order Status</li>
            <li>FAQ's</li>
        </ul>
    </div>

    <div class="list2">
        <h4>QUOCK SHOP</h4>
        <ul>
            <li>Book</li>
            <li>Exam Books</li>
            <li>Stationary</li>
            <li>Hobby and Music</li>
        </ul>
    </div>

    <div class="list3">
        <h4>POLICIES</h4>
        <ul>
            <li>Terms of Use</li>
            <li>Privecy Policy</li>
            <li>Refund Policy</li>
            <li>Billing System</li>
        </ul>
    </div>

    <div class="list4">
        <h4>ABOUT SHOPPER</h4>
        <ul>
            <li>Careers</li>
            <li>Store Location</li>
            <li>Affillate Program</li>
            <li>Copyright</li>
        </ul>
    </div>

    <div class="son">
        <h4>ABOUT SHOPPER</h4>
        <div class="email4 form-floating mb-3">
            <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
            <label>E-mail</label>
        </div>

        <input class="btn btn-warning" type="submit" value="Submit">
    </div>
</div>
